<!DOCTYPE HTML>
<html>
    <head>
        {% load staticfiles %}

        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <title>Arrival: A Text-Based MMORPG</title>
    </head>
    <body class="bg-light">
        <div class="continer-fluid">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                        <!-- Brand -->
                        <a class="navbar-brand" href="{% url 'index' %}">Arrival</a>

                        <!-- Links -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'index' %}">Item</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                                    Player Menu
                                </a>
                                <div class="dropdown-menu bg-white">
                                    <a class="dropdown-item text-dark" href="{% url 'index' %}">Index</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
